@font-face {
  font-family: Clan;
  src: local('Clan'), url(../fonts/ClanWebPro-News.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Clan;
  src: local('Clan'), url(../fonts/ClanWebPro-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Clan;
  src: local('Clan'), url(../fonts/ClanWebPro-MediumItalic.woff) format('woff');
  font-style: italic;
}

html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  text-align: start;
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

body {
  margin: 0;
  font-family: Clan;
}

button {
  font-family: Clan;
}


.leaflet-container {background: #DBDBDB}
.leaflet-leaflet-interactive {z-index: 1000 !important}
.leaflet-image-layer {z-index: 0 !important}
.leaflet-control-container.leaflet-control {
  top: 0!important;
  left: 0!important;
}

.invisible-marker {
  text-transform: uppercase;
  font-family: Clan;
  font-weight: 700;
  color: #FFFFFF;
  transform: translateY(10%);
}

.line-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.station-label {
  position: absolute;
  transform: translateY(-13px);
}
